doctype html
html
head
link(rel="stylesheet", href="bootstrap.min.css", type='text/css')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js", type="text/javascript")
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", type="text/javascript")
link(rel='stylesheet', href='tsamp.css', type='text/css')

body
    <div class="container-fluid text-center img-circle" style="background-color:olive">
    h1 Jaybot7 API Basejump: Request Header Parser microservice<BR>
    h2 User story:
    ul
        li 1) User Story: I can get the IP address, language and operating system for my browser.    
    
    p2 If it's all good, you should see the 
    h1 RESULTS here:<BR>
    p3= message